<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Console JSON -->
    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <level/>
                <threadName/>
                <loggerName/>
                <message/>
                <stackTrace/>
                <mdc/> <!-- Aquí estarán traceId y spanId gracias a Spring Cloud Sleuth / Brave -->
            </providers>
        </encoder>
    </appender>

    <!-- Logstash TCP -->
    <appender name="LOGSTASH_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <level/>
                <threadName/>
                <loggerName/>
                <message/>
                <stackTrace/>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
        <appender-ref ref="LOGSTASH_TCP"/>
    </root>
</configuration>
